#popupInfo {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.85);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

#popupInfoText {
    background: black;
    color: white;
    padding: 40px;
    border-radius: 30px;
    width: 80%;
    text-align: center;
    border: 6px solid white;
    font-size: 55px;
    font-weight: bold;
}

#popupPin {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

#popupBox {
    background: white;
    padding: 40px;
    border-radius: 30px;
    width: 80%;
    text-align: center;
    border: 6px solid black;
}

#popupBox select {
    font-size: 55px;
    padding: 25px;
    border-radius: 20px;
    border: 4px solid black;
    width: 100%;
}

#popupBox button {
    font-size: 55px;
    padding: 25px;
    margin-top: 20px;
    border-radius: 20px;
    width: 100%;
    font-weight: bold;
}

#popupOk { background: #28a745; color: white; }
#popupCancel { background: #cc0000; color: white; }

